<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
 "http://www.w3.org/TR/html4/strict.dtd"> 
<html> 
<head> 
    <title>bookmarklet test</title> 
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head> 
<body> 
    <!--(for i in js)-->
        <script type="text/javascript">$!i!$</script>
    <!--(end)-->
    <h1> Bookmarklet tests </h1>

    <table border="1px" cellpadding="5px">
        <tr>
            <th> description </th>
            <th> mark </th>
        </tr>

    <tr>
        <td>no main</td>
        <td><a href="$!nomain!$">bookmarklet</a></td>
    </tr>
    <tr>
        <td>verify http://localhost:8080/testing</td>
        <td><a href="$!apphash_verify!$">bookmarklet</a></td>
    </tr>


    </table>
</body> 
</html>

